@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
<div class="d-flex flex-column align-items-center justify-content-center min-vh-75 mt-4">
    <img src="/PokecatáLogo_150x150.png" alt="Logo" class="mb-4 mt-4" style="width: 120px; height: 120px; object-fit: contain; border-radius: 50%; border: 4px solid #FF0000; background: #fff; box-shadow: 0 4px 24px rgba(0,0,0,0.10);"/>
    <div class="pokebola-pesquisa p-3 p-md-4 rounded-5 shadow-lg bg-white border border-3 border-danger position-relative animate__animated animate__fadeInDown w-100 container-fluid" style="max-width: 500px;">
        <h1 class="display-6 text-center mb-4">@ViewData["Title"]</h1>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-danger rounded-pill">Log in</button>
            </div>
            <div class="mt-3">
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a> |
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a> |
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </div>
        </form>
        <div class="mt-4">
            <h5 class="text-center">Ou utilize outro serviço:</h5>
            <hr />
            @if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p class="text-center text-muted">
                        Não existem serviços externos configurados.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal text-center">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn btn-outline-primary mx-1 my-1" name="provider" value="@provider.Name" title="Entrar com @provider.DisplayName">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
